## Military Suicides by Method

In [1]:
#Import dependencies
import pandas as pd
import numpy as np

In [14]:
#Import data
data = "military suicides by gender.csv"
military_df = pd.read_csv(data)

#Check data
military_df.head()

,"Veteran Suicides by State of Death and by Sex, 2005�2018",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Year,Geographic\r\nRegion,State of Death,Sex,Veteran\r\nSuicides,NaN,NaN,NaN,NaN
2,2005,,Total U.S.,Total,"6,056",NaN,NaN,NaN,NaN
3,2005,,Total U.S.,Male,"5,870",NaN,NaN,NaN,NaN
4,2005,,Total U.S.,Female,186,NaN,NaN,NaN,NaN

In [18]:
#Clean up columns
#Remove unneccassary columns
#military_df.drop(["Unnamed: 6", "Unnamed: 7", "Unnamed: 8"],axis=1)
#military_df.head()

#Rename columns
#new_military_df= military_df.rename(columns={"year, geographic region, state of death, sex, veteran suicides"})
#new_military_df.head()

In [16]:
#Search for NAN Data
military_df.isnull().sum()

Veteran Suicides by State of Death and by Sex, 2005�2018       1
Unnamed: 1                                                     1
Unnamed: 2                                                     1
Unnamed: 3                                                     1
Unnamed: 4                                                     1
Unnamed: 5                                                  2186
Unnamed: 6                                                  2186
Unnamed: 7                                                  2186
Unnamed: 8                                                  2186
dtype: int64