## Military Suicides by Age

In [1]:
#Import dependencies
import pandas as pd
import numpy as np

In [2]:
#Import data
data = "military suicides by age.csv" 
age_df = pd.read_csv(data)

#Check data
age_df.head()

,"Veteran and General Adult Population (Veteran and Non-Veteran) Suicides by State of Death and Age Group, 2005–2018",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Year,"Geographic Region, Based on State of Death",State of Death,Age\nGroup,Veteran\nSuicides,"Veteran\nSuicide\nRate\nper\n100,000",General\nAdult Population\nSuicides,General\nAdult Population\nSuicide Rate per 10...
2,2005,,Total U.S.,Total,"6,056",24.7,"31,610",14.7
3,2005,,Total U.S.,18–34,574,25.5,"8,455",13.1
4,2005,,Total U.S.,35–54,"2,122",28.1,"13,541",15.9

In [3]:
#Search for NAN Data
age_df.isnull().sum()

Veteran and General Adult Population (Veteran and Non-Veteran) Suicides by State of Death and Age Group, 2005–2018    1
Unnamed: 1                                                                                                            1
Unnamed: 2                                                                                                            1
Unnamed: 3                                                                                                            1
Unnamed: 4                                                                                                            1
Unnamed: 5                                                                                                            1
Unnamed: 6                                                                                                            1
Unnamed: 7                                                                                                            1
dtype: int64