## Military Suicides by Method

In [1]:
#Import dependencies
import pandas as pd
import numpy as np

In [2]:
#Import data
data = "military suicides by gender.csv"
gender_df = pd.read_csv(data)

#Check data
gender_df.head()

,"Veteran Suicides by State of Death and by Sex, 2005–2018",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,NaN,NaN,NaN,NaN
1,Year,Geographic\nRegion,State of Death,Sex,Veteran\nSuicides
2,2005,,Total U.S.,Total,"6,056"
3,2005,,Total U.S.,Male,"5,870"
4,2005,,Total U.S.,Female,186

In [3]:
#Clean up columns
#Remove unneccassary columns
#military_df.drop(["Unnamed: 6", "Unnamed: 7", "Unnamed: 8"],axis=1)
#military_df.head()

#Rename columns
#new_military_df= military_df.rename(columns={"year, geographic region, state of death, sex, veteran suicides"})
#new_military_df.head()

In [4]:
#Search for NAN Data
gender_df.isnull().sum()

Veteran Suicides by State of Death and by Sex, 2005–2018    1
Unnamed: 1                                                  1
Unnamed: 2                                                  1
Unnamed: 3                                                  1
Unnamed: 4                                                  1
dtype: int64