## Military Suicides by Method

In [1]:
#Import dependencies
import pandas as pd
import numpy as np

In [22]:
#Import data
data = "military suicides by method.csv"
method_df = pd.read_csv(data)

#Check data
method_df.head()

,"Veteran and Adult General Population (Veteran and Non-Veteran) Suicides by State of Death and Method, 2005�2018",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Year,Geographic\r\nRegion,State of Death,Group Method,Method,Suicides,Group\r\nPercentage
2,2005,,Total U.S.,Veteran Method,Suffocation,829,13.7
3,2005,,Total U.S.,Veteran Method,Poisoning,793,13.1
4,2005,,Total U.S.,Veteran Method,Firearms,"4,099",67.7

In [20]:
#Search for NAN Data
method_df.isnull().sum()

Veteran and Adult General Population (Veteran and Non-Veteran) Suicides by State of Death and Method, 2005�2018    1
Unnamed: 1                                                                                                         1
Unnamed: 2                                                                                                         1
Unnamed: 3                                                                                                         1
Unnamed: 4                                                                                                         1
Unnamed: 5                                                                                                         1
Unnamed: 6                                                                                                         1
dtype: int64