## Military Suicides by Age

In [1]:
#Import dependencies
import pandas as pd
import numpy as np

In [2]:
#Import data
data = "military suicides by age.csv" 
age_df = pd.read_csv(data)

#Check data
age_df.head()

,Year,"Geographic Region, Based on State of Death",State of Death,Age\nGroup,VeteranSuicides,"Veteran\nSuicide\nRate\nper\n100,000",General Adult Population Suicides,"General\nAdult Population\nSuicide Rate per 100,000"
0,2005,,Total U.S.,Total,"6,056",24.7,"31,610",14.7
1,2005,,Total U.S.,18–34,574,25.5,"8,455",13.1
2,2005,,Total U.S.,35–54,"2,122",28.1,"13,541",15.9
3,2005,,Total U.S.,55–74,"1,970",20.1,"6,554",13.5
4,2005,,Total U.S.,75+,"1,387",28.1,"3,060",18.7

# Clean Data

In [3]:
#Search for NAN Data
age_df.isnull().sum()

Year                                                   0
Geographic Region, Based on State of Death             0
State of Death                                         0
Age\nGroup                                             0
VeteranSuicides                                        0
Veteran\nSuicide\nRate\nper\n100,000                   0
General Adult Population Suicides                      0
General\nAdult Population\nSuicide Rate per 100,000    0
dtype: int64

In [4]:
#Only Florida use this: df [df [col1] > 20]
Florida =age_df[age_df['State of Death'] =='Florida']
Florida

,Year,"Geographic Region, Based on State of Death",State of Death,Age\nGroup,VeteranSuicides,"Veteran\nSuicide\nRate\nper\n100,000",General Adult Population Suicides,"General\nAdult Population\nSuicide Rate per 100,000"
145,2005,South,Florida,Total,486,26.7,"2,289",17.2
146,2005,South,Florida,18–34,37,25,473,13.4
147,2005,South,Florida,35–54,173,32.5,967,19.6
148,2005,South,Florida,55–74,158,22.8,544,15.8
149,2005,South,Florida,75+,118,26.3,305,21.9
...,...,...,...,...,...,...,...,...
3785,2018,South,Florida,Total,577,36.8,"3,490",20.5
3786,2018,South,Florida,18–34,42,35.9,671,14.9
3787,2018,South,Florida,35–54,134,37.2,"1,111",20.9
3788,2018,South,Florida,55–74,244,37,"1,218",23.2
3789,2018,South,Florida,75+,157,36.4,490,25.1

In [5]:
# Remove columns
data= Florida.drop(['Geographic Region, Based on State of Death',
                    'General Adult Population Suicides ', 
                    'General\nAdult Population\nSuicide Rate per 100,000',
                   'State of Death', 'Geographic Region, Based on State of Death'], axis = 1)
data

      Year Age\nGroup VeteranSuicides  Veteran\nSuicide\nRate\nper\n100,000
145   2005      Total              486                                 26.7
146   2005      18–34               37                                   25
147   2005      35–54              173                                 32.5
148   2005      55–74              158                                 22.8
149   2005        75+              118                                 26.3
...    ...        ...              ...                                  ...
3785  2018      Total              577                                 36.8
3786  2018      18–34               42                                 35.9
3787  2018      35–54              134                                 37.2
3788  2018      55–74              244                                   37
3789  2018        75+              157                                 36.4

[70 rows x 4 columns]

In [6]:
# rename columns
rename_data= data.rename(columns={'Age\nGroup': 'Age',
                                'Veteran\nSuicide\nRate\nper\n100,000': 'Rate',
                                 'VeteranSuicides ': 'Count'})

rename_data

      Year    Age Count  Rate
145   2005  Total   486  26.7
146   2005  18–34    37    25
147   2005  35–54   173  32.5
148   2005  55–74   158  22.8
149   2005    75+   118  26.3
...    ...    ...   ...   ...
3785  2018  Total   577  36.8
3786  2018  18–34    42  35.9
3787  2018  35–54   134  37.2
3788  2018  55–74   244    37
3789  2018    75+   157  36.4

[70 rows x 4 columns]

In [7]:
rename_data.dtypes

Year      int64
Age      object
Count    object
Rate     object
dtype: object

In [8]:
#Drop total in Age using indexNames = dfObj[ dfObj['Age'] == 30 ].index
new_data = rename_data[ rename_data['Age'] == 'Total' ].index

# Delete these row indexes from dataFrame
rename_data.drop(new_data , inplace=True)
rename_data

      Year    Age Count  Rate
146   2005  18–34    37    25
147   2005  35–54   173  32.5
148   2005  55–74   158  22.8
149   2005    75+   118  26.3
426   2006  18–34    37  26.4
427   2006  35–54   162  31.2
428   2006  55–74   177  26.3
429   2006    75+   124  27.3
706   2007  18–34    36  25.9
707   2007  35–54   181  35.7
708   2007  55–74   170  26.1
709   2007    75+   155  33.6
986   2008  18–34    57  41.9
987   2008  35–54   141  28.2
988   2008  55–74   206  32.5
989   2008    75+   149  32.1
1266  2009  18–34    34    26
1267  2009  35–54   180    37
1268  2009  55–74   179  28.5
1269  2009    75+   157  34.6
1546  2010  18–34    31  24.4
1547  2010  35–54   170  36.4
1548  2010  55–74   197  29.5
1549  2010    75+   161  38.2
1826  2011  18–34    48  37.8
1827  2011  35–54   157  34.9
1828  2011  55–74   196    30
1829  2011    75+   140  33.5
2106  2012  18–34    38  30.4
2107  2012  35–54   147    34
2108  2012  55–74   200  30.4
2109  2012    75+   147  35.1
2386  2013  18–34    50    40
2387  2013  35–54   137  32.8
2388  2013  55–74   202  30.3
2389  2013    75+   156  36.7
2666  2014  18–34    41  33.1
2667  2014  35–54   137  33.7
2668  2014  55–74   221  32.9
2669  2014    75+   142  33.1
2946  2015  18–34    63  51.6
2947  2015  35–54   138  35.2
2948  2015  55–74   221  32.5
2949  2015    75+   167  38.9
3226  2016  18–34    51  41.8
3227  2016  35–54   124  32.5
3228  2016  55–74   218  32.1
3229  2016    75+   157  38.2
3506  2017  18–34    46  38.3
3507  2017  35–54   125  33.4
3508  2017  55–74   213  31.6
3509  2017    75+   142  33.7
3786  2018  18–34    42  35.9
3787  2018  35–54   134  37.2
3788  2018  55–74   244    37
3789  2018    75+   157  36.4

In [9]:
#Export new dataframe to CSV file
rename_data.to_csv("Clean military suicide by age for Florida.csv")