## Military Suicides by Method

In [1]:
#Import dependencies
import pandas as pd
import numpy as np

In [2]:
#Import data
data = "military suicides by gender.csv"
gender_df = pd.read_csv(data)

#Check data
gender_df.head()

   Year Geographic\nRegion State of Death     Sex  Veteran\nSuicides
0  2005                        Total U.S.   Total               6,056
1  2005                        Total U.S.    Male               5,870
2  2005                        Total U.S.  Female                 186
3  2005          Northeast    Connecticut   Total                  49
4  2005          Northeast    Connecticut    Male              40–50

# Clean Data

In [3]:
#Search for NAN Data
gender_df.isnull().sum()

Year                   0
Geographic\nRegion     0
State of Death         0
Sex                    0
 Veteran\nSuicides     0
dtype: int64

In [4]:
#Only Florida use this: df [df [col1] > 20]
Florida =gender_df[gender_df['State of Death'] =='Florida']
Florida

      Year Geographic\nRegion State of Death     Sex  Veteran\nSuicides
78    2005              South        Florida   Total                 486
79    2005              South        Florida    Male                 464
80    2005              South        Florida  Female                  22
234   2006              South        Florida   Total                 500
235   2006              South        Florida    Male                 480
236   2006              South        Florida  Female                  20
390   2007              South        Florida   Total                 542
391   2007              South        Florida    Male                 527
392   2007              South        Florida  Female                  15
546   2008              South        Florida   Total                 553
547   2008              South        Florida    Male                 538
548   2008              South        Florida  Female                  15
702   2009              South        Florida   Total                 550
703   2009              South        Florida    Male                 535
704   2009              South        Florida  Female                  15
858   2010              South        Florida   Total                 559
859   2010              South        Florida    Male                 541
860   2010              South        Florida  Female                  18
1014  2011              South        Florida   Total                 541
1015  2011              South        Florida    Male                 519
1016  2011              South        Florida  Female                  22
1170  2012              South        Florida   Total                 533
1171  2012              South        Florida    Male                 507
1172  2012              South        Florida  Female                  26
1326  2013              South        Florida   Total                 545
1327  2013              South        Florida    Male                 528
1328  2013              South        Florida  Female                  17
1482  2014              South        Florida   Total                 541
1483  2014              South        Florida    Male                 516
1484  2014              South        Florida  Female                  25
1638  2015              South        Florida   Total                 589
1639  2015              South        Florida    Male                 562
1640  2015              South        Florida  Female                  27
1794  2016              South        Florida   Total                 550
1795  2016              South        Florida    Male                 525
1796  2016              South        Florida  Female                  25
1950  2017              South        Florida   Total                 527
1951  2017              South        Florida    Male                 498
1952  2017              South        Florida  Female                  29
2106  2018              South        Florida   Total                 577
2107  2018              South        Florida    Male                 557
2108  2018              South        Florida  Female                  20

In [5]:
# Remove columns
data= Florida.drop(['Geographic\nRegion',
                   'State of Death'], axis = 1)
data

      Year     Sex  Veteran\nSuicides
78    2005   Total                 486
79    2005    Male                 464
80    2005  Female                  22
234   2006   Total                 500
235   2006    Male                 480
236   2006  Female                  20
390   2007   Total                 542
391   2007    Male                 527
392   2007  Female                  15
546   2008   Total                 553
547   2008    Male                 538
548   2008  Female                  15
702   2009   Total                 550
703   2009    Male                 535
704   2009  Female                  15
858   2010   Total                 559
859   2010    Male                 541
860   2010  Female                  18
1014  2011   Total                 541
1015  2011    Male                 519
1016  2011  Female                  22
1170  2012   Total                 533
1171  2012    Male                 507
1172  2012  Female                  26
1326  2013   Total                 545
1327  2013    Male                 528
1328  2013  Female                  17
1482  2014   Total                 541
1483  2014    Male                 516
1484  2014  Female                  25
1638  2015   Total                 589
1639  2015    Male                 562
1640  2015  Female                  27
1794  2016   Total                 550
1795  2016    Male                 525
1796  2016  Female                  25
1950  2017   Total                 527
1951  2017    Male                 498
1952  2017  Female                  29
2106  2018   Total                 577
2107  2018    Male                 557
2108  2018  Female                  20

In [6]:
# rename columns
rename_data= data.rename(columns={'Sex': 'Gender',
                                ' Veteran\nSuicides ': 'Count'})

rename_data

      Year  Gender Count
78    2005   Total   486
79    2005    Male   464
80    2005  Female    22
234   2006   Total   500
235   2006    Male   480
236   2006  Female    20
390   2007   Total   542
391   2007    Male   527
392   2007  Female    15
546   2008   Total   553
547   2008    Male   538
548   2008  Female    15
702   2009   Total   550
703   2009    Male   535
704   2009  Female    15
858   2010   Total   559
859   2010    Male   541
860   2010  Female    18
1014  2011   Total   541
1015  2011    Male   519
1016  2011  Female    22
1170  2012   Total   533
1171  2012    Male   507
1172  2012  Female    26
1326  2013   Total   545
1327  2013    Male   528
1328  2013  Female    17
1482  2014   Total   541
1483  2014    Male   516
1484  2014  Female    25
1638  2015   Total   589
1639  2015    Male   562
1640  2015  Female    27
1794  2016   Total   550
1795  2016    Male   525
1796  2016  Female    25
1950  2017   Total   527
1951  2017    Male   498
1952  2017  Female    29
2106  2018   Total   577
2107  2018    Male   557
2108  2018  Female    20

In [7]:
#Drop total in Gender using indexNames = dfObj[ dfObj['Gender'] == 30 ].index
new_data = rename_data[ rename_data['Gender'] == 'Total' ].index

# Delete these row indexes from dataFrame
rename_data.drop(new_data , inplace=True)
rename_data

      Year  Gender Count
79    2005    Male   464
80    2005  Female    22
235   2006    Male   480
236   2006  Female    20
391   2007    Male   527
392   2007  Female    15
547   2008    Male   538
548   2008  Female    15
703   2009    Male   535
704   2009  Female    15
859   2010    Male   541
860   2010  Female    18
1015  2011    Male   519
1016  2011  Female    22
1171  2012    Male   507
1172  2012  Female    26
1327  2013    Male   528
1328  2013  Female    17
1483  2014    Male   516
1484  2014  Female    25
1639  2015    Male   562
1640  2015  Female    27
1795  2016    Male   525
1796  2016  Female    25
1951  2017    Male   498
1952  2017  Female    29
2107  2018    Male   557
2108  2018  Female    20

In [8]:
#Export new dataframe to CSV file
rename_data.to_csv("Clean military suicide by gender for Florida.csv", encoding='utf-8', index=False)