## Military Suicides by Age

In [1]:
#Import dependencies
import pandas as pd
import numpy as np

In [2]:
#Import data
data = "military suicides by age.csv" 
age_df = pd.read_csv(data)

#Check data
age_df.head()

,Year,"Geographic Region, Based on State of Death",State of Death,Age\nGroup,Veteran\nSuicides,"Veteran\nSuicide\nRate\nper\n100,000",General Adult Population Suicides,"General\nAdult Population\nSuicide Rate per 100,000"
0,2005,,Total U.S.,Total,"6,056",24.7,"31,610",14.7
1,2005,,Total U.S.,18–34,574,25.5,"8,455",13.1
2,2005,,Total U.S.,35–54,"2,122",28.1,"13,541",15.9
3,2005,,Total U.S.,55–74,"1,970",20.1,"6,554",13.5
4,2005,,Total U.S.,75+,"1,387",28.1,"3,060",18.7

# Clean Data

In [3]:
#Search for NAN Data
age_df.isnull().sum()

Year                                                   0
Geographic Region, Based on State of Death             0
State of Death                                         0
Age\nGroup                                             0
 Veteran\nSuicides                                     0
Veteran\nSuicide\nRate\nper\n100,000                   0
General Adult Population Suicides                      0
General\nAdult Population\nSuicide Rate per 100,000    0
dtype: int64

In [4]:
#Only Florida use this: df [df [col1] > 20]
Florida =age_df[age_df['State of Death'] =='Florida']
Florida

,Year,"Geographic Region, Based on State of Death",State of Death,Age\nGroup,Veteran\nSuicides,"Veteran\nSuicide\nRate\nper\n100,000",General Adult Population Suicides,"General\nAdult Population\nSuicide Rate per 100,000"
145,2005,South,Florida,Total,486,26.7,"2,289",17.2
146,2005,South,Florida,18–34,37,25,473,13.4
147,2005,South,Florida,35–54,173,32.5,967,19.6
148,2005,South,Florida,55–74,158,22.8,544,15.8
149,2005,South,Florida,75+,118,26.3,305,21.9
...,...,...,...,...,...,...,...,...
3785,2018,South,Florida,Total,577,36.8,"3,490",20.5
3786,2018,South,Florida,18–34,42,35.9,671,14.9
3787,2018,South,Florida,35–54,134,37.2,"1,111",20.9
3788,2018,South,Florida,55–74,244,37,"1,218",23.2
3789,2018,South,Florida,75+,157,36.4,490,25.1

In [8]:
# Remove columns
data= Florida.drop(['Geographic Region, Based on State of Death',
                    'General Adult Population Suicides ', 
                    'General\nAdult Population\nSuicide Rate per 100,000',
                   'State of Death', 'Geographic Region, Based on State of Death'], axis = 1)
data

      Year Age\nGroup  Veteran\nSuicides  Veteran\nSuicide\nRate\nper\n100,000
145   2005      Total                 486                                 26.7
146   2005      18–34                  37                                   25
147   2005      35–54                 173                                 32.5
148   2005      55–74                 158                                 22.8
149   2005        75+                 118                                 26.3
...    ...        ...                 ...                                  ...
3785  2018      Total                 577                                 36.8
3786  2018      18–34                  42                                 35.9
3787  2018      35–54                 134                                 37.2
3788  2018      55–74                 244                                   37
3789  2018        75+                 157                                 36.4

[70 rows x 4 columns]

In [10]:
# rename columns
rename_data= data.rename(columns={'Age\nGroup': 'Age',
                            'Veteran\nSuicides':'Count',
                                'Veteran\nSuicide\nRate\nper\n100,000': 'Rate' })

rename_data

      Year    Age  Veteran\nSuicides   Rate
145   2005  Total                 486  26.7
146   2005  18–34                  37    25
147   2005  35–54                 173  32.5
148   2005  55–74                 158  22.8
149   2005    75+                 118  26.3
...    ...    ...                 ...   ...
3785  2018  Total                 577  36.8
3786  2018  18–34                  42  35.9
3787  2018  35–54                 134  37.2
3788  2018  55–74                 244    37
3789  2018    75+                 157  36.4

[70 rows x 4 columns]

In [12]:
#Drop total in Age