# Household Median Cleanup

In [1]:
#import dependencies
import pandas as pd

In [2]:
#import data
data = pd.read_excel('./Median.xlsx')

In [3]:
#check it
data.head()

,Unnamed: 0,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010
0,County,Dollars ($),Dollars ($),Dollars ($),Dollars ($),Dollars ($),Dollars ($),Dollars ($),Dollars ($),Dollars ($),Dollars ($)
1,Florida,55660,53267,50883,48900,47507,47212,46956,47309,47827,47661
2,Alachua,49689,49078,45478,44702,43073,42045,42149,42818,41373,40644
3,Baker,63275,61769,59506,53327,47121,46865,49236,47149,47041,47276
4,Bay,54316,51829,50283,48577,47368,47274,47461,47364,48225,47770

In [4]:
#Rename 
data.columns = ['County', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2010']

In [5]:
#shift up to remove unneeded row
data = data.shift(-1)
data.head()

,County,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010
0,Florida,55660,53267,50883,48900,47507,47212,46956,47309,47827,47661
1,Alachua,49689,49078,45478,44702,43073,42045,42149,42818,41373,40644
2,Baker,63275,61769,59506,53327,47121,46865,49236,47149,47041,47276
3,Bay,54316,51829,50283,48577,47368,47274,47461,47364,48225,47770
4,Bradford,45921,46197,46106,43373,41606,40481,40259,39082,41397,41126

In [6]:
data['County'] = data['County'].str.replace('Saint Johns', 'St. Johns')
data['County'] = data['County'].str.replace('Saint Lucie', 'St. Lucie')
data['County'] = data['County'].str.replace('Saint Lucie', 'St. Lucie')

In [7]:
print(list(data['County']))

['Florida', 'Alachua', 'Baker', 'Bay', 'Bradford', 'Brevard', 'Broward', 'Calhoun', 'Charlotte', 'Citrus', 'Clay', 'Collier', 'Columbia', 'Miami-Dade', 'DeSoto', 'Dixie', 'Duval', 'Escambia', 'Flagler', 'Franklin', 'Gadsden', 'Gilchrist', 'Glades', 'Gulf', 'Hamilton', 'Hardee', 'Hendry', 'Hernando', 'Highlands', 'Hillsborough', 'Holmes', 'Indian River', 'Jackson', 'Jefferson', 'Lafayette', 'Lake', 'Lee', 'Leon', 'Levy', 'Liberty', 'Madison', 'Manatee', 'Marion', 'Martin', 'Monroe', 'Nassau', 'Okaloosa', 'Okeechobee', 'Orange', 'Osceola', 'Palm Beach', 'Pasco', 'Pinellas', 'Polk', 'Putnam', 'St. Johns', 'St. Lucie', 'Santa Rosa', 'Sarasota', 'Seminole', 'Sumter', 'Suwannee', 'Taylor', 'Union', 'Volusia', 'Wakulla', 'Walton', 'Washington', nan]

In [8]:
data['County'].count()

68

In [9]:
#Unpivot rows
pivdata = pd.melt(data, 
            id_vars='County', 
            value_vars=list(data.columns[1:]), # list of days of the week
            var_name='Years', 
            value_name='Dollars ($)')

In [10]:
pivdata = pivdata.dropna()

In [11]:
pivdata.count()

County         680
Years          680
Dollars ($)    680
dtype: int64

In [12]:
pivdata.to_csv(r'./MedianCleanup.csv', encoding='utf-8', index=False)