In [1]:
# Dependecies and Setup
import pandas as pd
import numpy as np

# File to load
data = "Resident Deaths by Leading Causes of Death by Year.xlsx"

# Read the data into a Pandas DataFrame
data_df = pd.read_excel(data)

# Check data
data_df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Resident Deaths by Leading Causes of Death by Year,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Resident Deaths,Resident Deaths,Resident Deaths,Resident Deaths,Resident Deaths,Resident Deaths,Resident Deaths,Resident Deaths,Resident Deaths,Resident Deaths,Resident Deaths
2,Year,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,Total
3,Acute Bronchitis & Bronchiolitis (J20-J21),15,6,12,10,14,16,9,9,14,12,117
4,Alzheimers Disease (G30),"4,470","4,379","5,064","5,814","7,021","7,152","6,956","6,711","6,531","7,264","61,362"
5,Anemias (D50-D64),345,338,314,355,355,384,398,370,415,453,"3,727"
6,Aortic Aneurysm & Dissection (I71),683,652,680,643,686,678,656,705,670,655,"6,708"
7,Appendix Diseases (K35-K38),17,20,22,26,37,28,23,27,28,28,256
8,"Arthopod-Borne Viral Encephalitis (A83-A84,A85.2)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Atherosclerosis (I70),619,541,599,609,485,476,470,358,385,366,"4,908"

In [2]:
# Drop last row. Data can generate the total in other ways so we wont need it.
data_df = data_df.drop('Unnamed: 11', 1)
data_df.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Resident Deaths by Leading Causes of Death by Year,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Resident Deaths,Resident Deaths,Resident Deaths,Resident Deaths,Resident Deaths,Resident Deaths,Resident Deaths,Resident Deaths,Resident Deaths,Resident Deaths
2,Year,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
3,Acute Bronchitis & Bronchiolitis (J20-J21),15,6,12,10,14,16,9,9,14,12
4,Alzheimers Disease (G30),"4,470","4,379","5,064","5,814","7,021","7,152","6,956","6,711","6,531","7,264"

In [3]:
#Remove useless top rows
data_df = data_df.shift(-3)
data_df.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Resident Deaths by Leading Causes of Death by Year,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Acute Bronchitis & Bronchiolitis (J20-J21),15,6,12,10,14,16,9,9,14,12
1,Alzheimers Disease (G30),"4,470","4,379","5,064","5,814","7,021","7,152","6,956","6,711","6,531","7,264"
2,Anemias (D50-D64),345,338,314,355,355,384,398,370,415,453
3,Aortic Aneurysm & Dissection (I71),683,652,680,643,686,678,656,705,670,655
4,Appendix Diseases (K35-K38),17,20,22,26,37,28,23,27,28,28

In [5]:
#Remove useless bottom rows
data_df = data_df.loc[:50]
data_df.tail(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Resident Deaths by Leading Causes of Death by Year,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
41,Salmonella Infections (A01-A02),3,3,2,6,1,4,3,2,7,4
42,Septicemia (A40-A41),"1,936","2,037","2,084","2,145","2,361","2,465","2,462","2,465","2,527","2,625"
43,"Shigellosis & Amebiasis (A03,A06)",NaN,NaN,NaN,NaN,1,NaN,1,NaN,1,NaN
44,Suicide,"2,765","2,922","2,892","2,961","3,152","3,122","3,187","3,552","3,427","3,113"
45,Syphilis (A50-A53),5,4,4,1,3,3,7,3,2,4
46,Tuberculosis (A16-A19),31,44,34,22,23,36,33,38,34,32
47,Unintentional Injury,"8,475","8,561","8,534","9,128","10,346","12,522","12,812","12,616","13,213","15,987"
48,Viral Hepatitis (B15-B19),606,523,587,603,548,485,451,311,386,277
49,"War Operations & Sequelae (Y36,Y89.1)",1,1,3,1,NaN,2,NaN,2,3,3
50,Whooping Cough (A37),1,1,1,NaN,NaN,NaN,NaN,1,1,NaN

In [8]:
# Rename Columns
data_df.columns = ['Cause of Death','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020']
data_df.head(5)

,Cause of Death,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Acute Bronchitis & Bronchiolitis (J20-J21),15,6,12,10,14,16,9,9,14,12
1,Alzheimers Disease (G30),"4,470","4,379","5,064","5,814","7,021","7,152","6,956","6,711","6,531","7,264"
2,Anemias (D50-D64),345,338,314,355,355,384,398,370,415,453
3,Aortic Aneurysm & Dissection (I71),683,652,680,643,686,678,656,705,670,655
4,Appendix Diseases (K35-K38),17,20,22,26,37,28,23,27,28,28

In [10]:
#after inspecting the data, it is very likely NaN is 0, hence the conversion.
data_df = data_df.fillna(0)

In [11]:
# inspect whole set
data_df.head(50)

,Cause of Death,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Acute Bronchitis & Bronchiolitis (J20-J21),15,6,12,10,14,16,9,9,14,12
1,Alzheimers Disease (G30),"4,470","4,379","5,064","5,814","7,021","7,152","6,956","6,711","6,531","7,264"
2,Anemias (D50-D64),345,338,314,355,355,384,398,370,415,453
3,Aortic Aneurysm & Dissection (I71),683,652,680,643,686,678,656,705,670,655
4,Appendix Diseases (K35-K38),17,20,22,26,37,28,23,27,28,28
5,"Arthopod-Borne Viral Encephalitis (A83-A84,A85.2)",0,0,0,0,0,0,0,0,0,0
6,Atherosclerosis (I70),619,541,599,609,485,476,470,358,385,366
7,Cerebrovascular Diseases (I60-I69),"8,327","8,372","8,611","9,605","11,410","11,843","12,557","13,238","13,868","15,356"
8,Cholelithiasis & Other Gallbladder Disorders (...,181,208,183,201,208,236,221,226,206,255
9,"Chronic Liver Disease & Cirrhosis (K70,K73-K74)","2,572","2,574","2,656","2,996","3,075","3,225","3,080","3,342","3,186","3,738"
10,"Chronic Lower Respiratory Disease (J40-J42,J43...","10,241","10,525","11,328","11,089","11,685","11,964","12,590","12,346","12,005","11,786"
11,Congenital Malformations,500,509,503,528,526,572,551,561,583,554
12,COVID-19 (U07.1),0,0,0,0,0,0,0,0,0,"19,157"
13,Diabetes Mellitus (E10-E14),"5,044","5,064","5,209","5,324","5,394","5,780","6,151","6,195","6,158","7,516"
14,Enterocolitis due to Clostridium difficile (A0...,528,499,510,506,509,455,425,409,270,261
15,Essen Hypertension & Hypertensive Renal Dis (I...,"1,798","1,944","2,140","2,174","2,185","2,454","2,618","2,773","2,737","3,185"
16,Female Pelvic Organs-Inflammatory Diseases (N7...,11,6,5,8,5,5,8,9,9,9
17,Heart Diseases,"40,522","41,643","42,249","43,747","45,199","45,625","46,159","46,929","47,044","49,208"
18,Hernia (K40-K46),106,117,121,128,122,131,130,139,124,130
19,Homicide,"1,124","1,195","1,143","1,139","1,185","1,292","1,250","1,311","1,331","1,524"
20,Human Immunodeficiency Virus (HIV) Disease (B2...,"1,005",923,935,878,873,864,749,692,692,672
21,Hyperplasia of Prostate (N40),23,28,35,29,20,29,36,22,34,36
22,"In Situ, Benign, Uncertain and Unknown Behavio...","1,182","1,117","1,145","1,391","1,470","1,334","1,291","1,284","1,185","1,231"
23,"Influenza & Pneumonia (J09-J11,J12-J18)","2,418","2,304","2,644","2,663","2,666","2,807","3,040","3,082","2,703","3,195"
24,"Kidney Infections (N10-N12, N13.6, N15.1)",28,17,22,28,28,29,36,33,38,38
25,"Legal Intervention (Y35, Y89.0)",9,12,34,33,19,17,23,28,31,60
26,Malaria (B50-B54),0,0,1,1,0,2,2,0,0,0
27,Malignant Neoplasm (Cancer),"41,221","41,696","42,350","42,330","43,877","44,237","44,862","45,199","45,562","45,723"
28,Measles (B05),0,0,0,0,0,0,1,0,0,0
29,Medical & Surgical Care Complications (Y40-Y84...,122,159,195,174,200,217,357,365,421,410
30,"Meningitis (G00,G03)",39,25,21,25,28,19,23,39,31,26
31,Meningococcal Infection (A39),7,5,8,7,5,1,3,2,3,2
32,"Nephritis, Nephrotic Syndrome, Nephrosis (N00-...","3,041","2,898","3,106","3,026","3,194","3,146","3,157","3,125","3,242","3,174"
33,Nutritional Deficiencies (E40-E64),113,118,133,187,316,335,471,600,604,793
34,Other Causes of Death,"29,096","30,129","29,985","30,535","27,961","28,688","31,401","31,558","32,377","35,317"
35,Parkinsons Disease (G20-G21),"1,747","1,824","1,932","2,031","2,226","2,372","2,565","2,688","2,666","3,137"
36,Peptic Ulcer (K25-K28),162,168,174,182,178,200,212,216,236,235
37,Perinatal Period Conditions (P00-P96),727,648,681,682,760,726,676,701,714,632
38,"Pneumoconiosis & Chemical Effects (J60-J66,J68)",44,27,40,26,42,45,39,29,45,30
39,Pneumonitis Due To Solids & Liquids (J69),898,"1,002","1,007",980,"1,022","1,163","1,152","1,092","1,156","1,140"
40,"Pregnancy, Childbirth and the Puerperium (O00-...",48,61,76,61,67,50,49,58,70,28
41,Salmonella Infections (A01-A02),3,3,2,6,1,4,3,2,7,4
42,Septicemia (A40-A41),"1,936","2,037","2,084","2,145","2,361","2,465","2,462","2,465","2,527","2,625"
43,"Shigellosis & Amebiasis (A03,A06)",0,0,0,0,1,0,1,0,1,0
44,Suicide,"2,765","2,922","2,892","2,961","3,152","3,122","3,187","3,552","3,427","3,113"
45,Syphilis (A50-A53),5,4,4,1,3,3,7,3,2,4
46,Tuberculosis (A16-A19),31,44,34,22,23,36,33,38,34,32
47,Unintentional Injury,"8,475","8,561","8,534","9,128","10,346","12,522","12,812","12,616","13,213","15,987"
48,Viral Hepatitis (B15-B19),606,523,587,603,548,485,451,311,386,277
49,"War Operations & Sequelae (Y36,Y89.1)",1,1,3,1,0,2,0,2,3,3

In [12]:
#Unpivot the columns to create a Years column
pivdata = pd.melt(data_df, 
            id_vars='Cause of Death', 
            value_vars=list(data_df.columns[1:]), 
            var_name='Years', 
            value_name='Death Count')

In [13]:
#Check it
pivdata.head(10)

                                      Cause of Death Years Death Count
0         Acute Bronchitis & Bronchiolitis (J20-J21)  2011          15
1                           Alzheimers Disease (G30)  2011       4,470
2                                  Anemias (D50-D64)  2011         345
3                 Aortic Aneurysm & Dissection (I71)  2011         683
4                        Appendix Diseases (K35-K38)  2011          17
5  Arthopod-Borne Viral Encephalitis (A83-A84,A85.2)  2011           0
6                              Atherosclerosis (I70)  2011         619
7                 Cerebrovascular Diseases (I60-I69)  2011       8,327
8  Cholelithiasis & Other Gallbladder Disorders (...  2011         181
9    Chronic Liver Disease & Cirrhosis (K70,K73-K74)  2011       2,572

In [14]:
#Count it
pivdata.count()

Cause of Death    510
Years             510
Death Count       510
dtype: int64

In [15]:
pivdata.to_csv(r'./Flcauseofdeath.csv', encoding='utf-8', index=False)