In [16]:
# Dependecies and Setup
import pandas as pd
import numpy as np

# File to load
data = "suicidebydrugpoisoning.csv"

# Read the data into a Pandas DataFrame
data_df = pd.read_csv(data)

# Check data
data_df.head(10)

,"Suicides by Drug Poisoning, Rate Per 100,000 Population",1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
0,NaN,2020,NaN,NaN,NaN,2019,NaN,NaN,NaN,2018,...,NaN,NaN,2012,NaN,NaN,NaN,2011,NaN,NaN,NaN
1,County,Count,Denom,Rate,MOV,Count,Denom,Rate,MOV,Count,...,Rate,MOV,Count,Denom,Rate,MOV,Count,Denom,Rate,MOV
2,Florida,338,"21,640,766",1.6,0.2,395,"21,268,553",1.9,0.2,408,...,2.2,0.2,440,19118938,2.3,0.2,386,"18,941,742",2,0.2
3,Alachua,5,"270,405",1.8,1.6,2,"266,649",0.8,NaN,2,...,2,1.8,5,246893,2,1.8,8,"247,151",3.2,2.2
4,Baker,0,"28,588",0,NaN,0,"28,089",0,NaN,0,...,3.7,NaN,1,26926,3.7,NaN,0,"26,915",0,NaN
5,Bay,4,"175,776",2.3,NaN,2,"179,900",1.1,NaN,5,...,0.6,NaN,2,169477,1.2,NaN,1,"169,311",0.6,NaN
6,Bradford,0,"28,818",0,NaN,1,"28,455",3.5,NaN,0,...,7.3,NaN,2,27083,7.4,NaN,0,"28,385",0,NaN
7,Brevard,10,"604,154",1.7,1,22,"593,372",3.7,1.5,17,...,4.4,1.7,15,546128,2.7,1.4,13,"545,304",2.4,1.3
8,Broward,27,"1,946,104",1.4,0.5,26,"1,927,014",1.3,0.5,27,...,1.9,0.6,34,1774943,1.9,0.6,42,"1,756,730",2.4,0.7
9,Calhoun,0,"14,894",0,NaN,0,"14,982",0,NaN,0,...,0,NaN,0,14631,0,NaN,1,"14,685",6.8,NaN

# Clean Data

In [3]:
print(data_df.dtypes)

Suicides by Drug Poisoning, Rate Per 100,000 Population    object
Unnamed: 1                                                 object
Unnamed: 2                                                 object
Unnamed: 3                                                 object
Unnamed: 4                                                 object
Unnamed: 5                                                 object
Unnamed: 6                                                 object
Unnamed: 7                                                 object
Unnamed: 8                                                 object
Unnamed: 9                                                 object
Unnamed: 10                                                object
Unnamed: 11                                                object
Unnamed: 12                                                object
Unnamed: 13                                                object
Unnamed: 14                                                object
Unnamed: 15                                                object
Unnamed: 16                                                object
Unnamed: 17                                                object
Unnamed: 18                                                object
Unnamed: 19                                                object
Unnamed: 20                                                object
Unnamed: 21                                                object
Unnamed: 22                                                object
Unnamed: 23                                                object
Unnamed: 24                                                object
Unnamed: 25                                                object
Unnamed: 26                                                object
Unnamed: 27                                                object
Unnamed: 28                                                object
Unnamed: 29                                                object
Unnamed: 30                                                object
Unnamed: 31                                                object
Unnamed: 32                                                object
Unnamed: 33                                                object
Unnamed: 34                                                object
Unnamed: 35                                                object
Unnamed: 36                                                object
Unnamed: 37                                                object
Unnamed: 38                                                object
Unnamed: 39                                                object
Unnamed: 40                                                object
dtype: object

In [14]:
# Drop zero and first row
#newdata_df = data_df.iloc[0:]
#newdata_df

,"Suicides by Drug Poisoning, Rate Per 100,000 Population",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
2,Florida,338,"21,640,766",1.6,0.2,395,"21,268,553",1.9,0.2,408,...,2.2,0.2,440,19118938,2.3,0.2,386,"18,941,742",2.0,0.2
3,Alachua,5,"270,405",1.8,1.6,2,"266,649",0.8,NaN,2,...,2.0,1.8,5,246893,2,1.8,8,"247,151",3.2,2.2
4,Baker,0,"28,588",0.0,NaN,0,"28,089",0.0,NaN,0,...,3.7,NaN,1,26926,3.7,NaN,0,"26,915",0.0,NaN
5,Bay,4,"175,776",2.3,NaN,2,"179,900",1.1,NaN,5,...,0.6,NaN,2,169477,1.2,NaN,1,"169,311",0.6,NaN
6,Bradford,0,"28,818",0.0,NaN,1,"28,455",3.5,NaN,0,...,7.3,NaN,2,27083,7.4,NaN,0,"28,385",0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,Volusia,12,"546,612",2.2,1.2,11,"539,563",2.0,1.2,13,...,4.2,1.8,16,497494,3.2,1.6,8,"495,835",1.6,1.1
67,Wakulla,1,"33,394",3.0,NaN,0,"32,418",0.0,NaN,1,...,3.2,NaN,1,30758,3.3,NaN,1,"30,856",3.2,NaN
68,Walton,0,"72,528",0.0,NaN,2,"70,352",2.8,NaN,0,...,0.0,NaN,2,57177,3.5,NaN,2,"55,794",3.6,NaN
69,Washington,0,"25,252",0.0,NaN,0,"25,347",0.0,NaN,1,...,0.0,NaN,0,24921,0,NaN,0,"24,679",0.0,NaN
70,Unknown,0,NaN,NaN,NaN,1,NaN,NaN,NaN,1,...,NaN,NaN,1,NaN,NaN,NaN,1,NaN,NaN,NaN

In [17]:
# Select columns to create a new dataframe
newdata=data_df[['Suicides by Drug Poisoning, Rate Per 100,000 Population', '1', 
                        '3', '5', '7', '9', '11', 
                        '13', '15', '17', '19', '21', 
                        '23', '25', '27', '29', '31', 
                        '33', '35', '37', '39']]

print(newdata)

   Suicides by Drug Poisoning, Rate Per 100,000 Population      1     3  \
0                                                 NaN        2020   NaN
1                                              County       Count  Rate
2                                             Florida         338   1.6
3                                             Alachua           5   1.8
4                                               Baker           0     0
..                                                ...         ...   ...
66                                            Volusia          12   2.2
67                                            Wakulla           1     3
68                                             Walton           0     0
69                                         Washington           0     0
70                                            Unknown           0   NaN

        5     7      9    11     13    15     17  ...     21    23     25  \
0    2019   NaN   2018   NaN   2017   NaN   2016  ...   2015   NaN   2014
1   Count  Rate  Count  Rate  Count  Rate  Count  ...  Count  Rate  Count
2     395   1.9    408   1.9    386   1.9    414  ...    437   2.2    440
3       2   0.8      2   0.8      3   1.2      2  ...      5     2      3
4       0     0      0     0      0     0      0  ...      1   3.7      1
..    ...   ...    ...   ...    ...   ...    ...  ...    ...   ...    ...
66     11     2     13   2.4     11   2.1     15  ...     15   2.9     19
67      0     0      1   3.1      0     0      0  ...      0     0      0
68      2   2.8      0     0      0     0      1  ...      1   1.6      0
69      0     0      1     4      0     0      0  ...      0     0      1
70      1   NaN      1   NaN      0   NaN      0  ...      1   NaN      2

      27     29    31     33    35     37    39
0    NaN   2013   NaN   2012   NaN   2011   NaN
1   Rate  Count  Rate  Count  Rate  Count  Rate
2    2.2    416   2.2    440   2.3    386     2
3    1.2      5     2      5     2      8   3.2
4    3.7      1   3.7      1   3.7      0     0
..   ...    ...   ...    ...   ...    ...   ...
66   3.8     21   4.2     16   3.2      8   1.6
67     0      1   3.2      1   3.3      1   3.2
68     0      0     0      2   3.5      2   3.6
69     4      0     0      0     0      0     0
70   NaN      0   NaN      1   NaN      1   NaN

[71 rows x 21 columns]

In [20]:
# rename columns
rename_data_df= newdata.rename(columns={'Suicides by Drug Poisoning, Rate Per 100,000 Population': 
                                           'county', '1':'2020Count', '3':'2020Rate', '5':'2019Count', 
                                           '7':'2019Rate', '9':'2018Count', '11':'2018Rate', 
                        '13':'2017Count', '15':'2017Rate', '17':'2016Count', '19':'2016Rate', '21':'2015Count', 
                        '23':'2015Rate', '25':'2014Count', '27':'2014Rate', '29':'2013Count', '31':'2013Rate', 
                        '33':'2012Count', '35':'2012Rate', '37':'2011Count', '39':'2011Rate' })

rename_data_df

,county,2020Count,2020Rate,2019Count,2019Rate,2018Count,2018Rate,2017Count,2017Rate,2016Count,...,2015Count,2015Rate,2014Count,2014Rate,2013Count,2013Rate,2012Count,2012Rate,2011Count,2011Rate
0,NaN,2020,NaN,2019,NaN,2018,NaN,2017,NaN,2016,...,2015,NaN,2014,NaN,2013,NaN,2012,NaN,2011,NaN
1,County,Count,Rate,Count,Rate,Count,Rate,Count,Rate,Count,...,Count,Rate,Count,Rate,Count,Rate,Count,Rate,Count,Rate
2,Florida,338,1.6,395,1.9,408,1.9,386,1.9,414,...,437,2.2,440,2.2,416,2.2,440,2.3,386,2
3,Alachua,5,1.8,2,0.8,2,0.8,3,1.2,2,...,5,2,3,1.2,5,2,5,2,8,3.2
4,Baker,0,0,0,0,0,0,0,0,0,...,1,3.7,1,3.7,1,3.7,1,3.7,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,Volusia,12,2.2,11,2,13,2.4,11,2.1,15,...,15,2.9,19,3.8,21,4.2,16,3.2,8,1.6
67,Wakulla,1,3,0,0,1,3.1,0,0,0,...,0,0,0,0,1,3.2,1,3.3,1,3.2
68,Walton,0,0,2,2.8,0,0,0,0,1,...,1,1.6,0,0,0,0,2,3.5,2,3.6
69,Washington,0,0,0,0,1,4,0,0,0,...,0,0,1,4,0,0,0,0,0,0
70,Unknown,0,NaN,1,NaN,1,NaN,0,NaN,0,...,1,NaN,2,NaN,0,NaN,1,NaN,1,NaN

In [29]:
poison=rename_data_df.drop ([0,1,2])
poison

,county,2020Count,2020Rate,2019Count,2019Rate,2018Count,2018Rate,2017Count,2017Rate,2016Count,...,2015Count,2015Rate,2014Count,2014Rate,2013Count,2013Rate,2012Count,2012Rate,2011Count,2011Rate
3,Alachua,5,1.8,2,0.8,2,0.8,3,1.2,2,...,5,2,3,1.2,5,2,5,2,8,3.2
4,Baker,0,0,0,0,0,0,0,0,0,...,1,3.7,1,3.7,1,3.7,1,3.7,0,0
5,Bay,4,2.3,2,1.1,5,2.7,6,3.4,3,...,5,2.9,6,3.5,1,0.6,2,1.2,1,0.6
6,Bradford,0,0,1,3.5,0,0,0,0,0,...,0,0,1,3.7,2,7.3,2,7.4,0,0
7,Brevard,10,1.7,22,3.7,17,2.9,22,3.8,21,...,24,4.3,14,2.5,24,4.4,15,2.7,13,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,Volusia,12,2.2,11,2,13,2.4,11,2.1,15,...,15,2.9,19,3.8,21,4.2,16,3.2,8,1.6
67,Wakulla,1,3,0,0,1,3.1,0,0,0,...,0,0,0,0,1,3.2,1,3.3,1,3.2
68,Walton,0,0,2,2.8,0,0,0,0,1,...,1,1.6,0,0,0,0,2,3.5,2,3.6
69,Washington,0,0,0,0,1,4,0,0,0,...,0,0,1,4,0,0,0,0,0,0
70,Unknown,0,NaN,1,NaN,1,NaN,0,NaN,0,...,1,NaN,2,NaN,0,NaN,1,NaN,1,NaN

In [30]:
# Check for null values
poison.isnull().sum()

county       0
2020Count    0
2020Rate     1
2019Count    0
2019Rate     1
2018Count    0
2018Rate     1
2017Count    0
2017Rate     1
2016Count    0
2016Rate     1
2015Count    0
2015Rate     1
2014Count    0
2014Rate     1
2013Count    0
2013Rate     1
2012Count    0
2012Rate     1
2011Count    0
2011Rate     1
dtype: int64

In [32]:
#Create a dataframe without nulls
p_data= poison.dropna()
p_data

,county,2020Count,2020Rate,2019Count,2019Rate,2018Count,2018Rate,2017Count,2017Rate,2016Count,...,2015Count,2015Rate,2014Count,2014Rate,2013Count,2013Rate,2012Count,2012Rate,2011Count,2011Rate
3,Alachua,5,1.8,2,0.8,2,0.8,3,1.2,2,...,5,2,3,1.2,5,2,5,2,8,3.2
4,Baker,0,0,0,0,0,0,0,0,0,...,1,3.7,1,3.7,1,3.7,1,3.7,0,0
5,Bay,4,2.3,2,1.1,5,2.7,6,3.4,3,...,5,2.9,6,3.5,1,0.6,2,1.2,1,0.6
6,Bradford,0,0,1,3.5,0,0,0,0,0,...,0,0,1,3.7,2,7.3,2,7.4,0,0
7,Brevard,10,1.7,22,3.7,17,2.9,22,3.8,21,...,24,4.3,14,2.5,24,4.4,15,2.7,13,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Union,0,0,0,0,1,6.3,0,0,0,...,0,0,0,0,1,6.5,1,6.4,0,0
66,Volusia,12,2.2,11,2,13,2.4,11,2.1,15,...,15,2.9,19,3.8,21,4.2,16,3.2,8,1.6
67,Wakulla,1,3,0,0,1,3.1,0,0,0,...,0,0,0,0,1,3.2,1,3.3,1,3.2
68,Walton,0,0,2,2.8,0,0,0,0,1,...,1,1.6,0,0,0,0,2,3.5,2,3.6
69,Washington,0,0,0,0,1,4,0,0,0,...,0,0,1,4,0,0,0,0,0,0

In [33]:
#Export new dataframe to CCSV file
p_data.to_csv("Clean suicide by drug poisoning")